.pass {
    font-weight: bold;
    letter-spacing: 3px;
    font-family: monospace;
    font-size: 1.5rem;
}

.reset {
    font-size: 1rem;
    margin-top: 1.5rem;
    display: block;
    color: gray;
    font-weight: 400;
    cursor: pointer;
}
